section.feedback#feedback
  .container
    .feedback-content
      h2.feedback-title Others about me
      p (this part is in development proccess. Synch with <a class="intro__content-admin" href="/admin">admin panel</a> will be done)
      #reviews-component