.help
  h3.help__title How I can help you
  p (Check out <a class="intro__content-admin" href="/admin">admin panel</a> to make changes. All percentage is for testing goals only and doesn't evaluate my skills.)
  p.help__text Here are some of the skills and technologies, that I use. I can't say that i'm a master of them, but i'm constantly learning and I am also looking forward to learn new technologies and languages.
