.intro__content
  .intro__content-desc 
    |Web developer 
    br
    |personal site
    br
    a.intro__content-admin(href="/admin") (admin panel)
  .intro__content-name 
    |Sergei 
    br
    |Garashchenko