section.parallax-section
  .parallax
    //- sky
    .parallax__layer(data-speed="0.1")
      +image('parallax/layer6.png', 'parallax__image')
    //- mountains
    .parallax__layer(data-speed="0.15")
      +image('parallax/layer5.png', 'parallax__image')
    //- train
    .parallax__layer(data-speed="0.25")
      +image('parallax/layer4.png', 'parallax__image')
    //- front grass
    .parallax__layer(data-speed="0.35")
      +image('parallax/layer3.png', 'parallax__image')
    .parallax__layer(data-speed="0.3")
      +image('parallax/layer2.png', 'parallax__image')
    .parallax__layer(data-speed="0.3")
      +image('parallax/layer1.png', 'parallax__image')
