.profile-desc
  .profile-desc__picture
    .profile-desc__picture-img
      +image('content/user.jpg', 'user-img')
  .profile-desc__info
    .profile-desc__info-title
      ul.info-title__list
        li.info-item Live in:
        li.info-item Age:
        li.info-item Birthday: 
    .profile-desc__info-text
      ul.info-text__list
        li.info-item Khabarovsk, Russia
        li.info-item 28
        li.info-item 04/16/1991