.profile-bio
  .bio-info
    span.bio-info__hi Hi, my name is
    h3.bio-info__name Sergei Garashchenko
    p.bio-info__desc
      |Switched a pretty successful railway engineer career to become a web-developer.
      br
      |Reasonable to say it's a risky step for a person with certain level of responsibilities, but sometimes you just need to follow your heart.
      br
      br
      |<b>Love to create. Love to code.</b> Think that uniting powers of programming are astonishing.

  .bio-site
    p.bio-site__desc
      |I am aware of HR "no photo in resume" policy, so here is neutral, but positive picture =)
