section.works#work
  .container
    .works-content
      h2.works-content__title My works
      p (this part is in development proccess. Synch with <a class="intro__content-admin" href="/admin">admin panel</a> will be done)
      .works-content__info
        #slider-component